@page "/"

<PageTitle>ToDoList</PageTitle>

<h3>ToDolList</h3>
<div>
    <RadzenButton Click="NavigateToAddTodoPage" Text="追加" Icon="add" ButtonStyle="Radzen.ButtonStyle.Secondary" Style="margin-bottom: 10px"></RadzenButton>
</div>
@* ToDoListが0件だった場合はスピナーを表示する *@
@if (ToDoList.Count == 0)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <RadzenDataGrid TItem="ToDoModel" Data="ToDoList">
        <Columns>
            <RadzenDataGridColumn Title="タイトル">
                <Template>
                    @context.Title
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="期限">
                <Template>
                    @context.Deadline.ToString("yyyy/MM/dd hh:mm")
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="ステータス">
                <Template>
                    @{
                        var status = ToDoModel.Statuses.FirstOrDefault(s => s.No == context.Status);
                        @status.Name
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="内容">
                <Template>
                    @context.Content
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}