@page "/"

<PageTitle>ToDoList</PageTitle>

<h3>ToDolList</h3>

@* ToDoListが0件だった場合はスピナーを表示する *@
@if (ToDoList.Count == 0)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <RadzenDataGrid TItem="ToDoModel" Data="ToDoList">
        <Columns>
            <RadzenDataGridColumn Title="タイトル">
                <Template>
                    @context.Title
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="期限">
                <Template>
                    @context.Deadline.ToString("yyyy/MM/dd hh:mm")
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="ステータス">
                <Template>
                    @context.Status
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="内容">
                <Template>
                    @context.Content
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}